html,
body {
  font-size: 15px;
  font-family: "Segoe UI";
    background: rgb(248, 244, 247);
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: auto;
}
.nav-container svg {
  color: #fff;
}
a {
  text-decoration: none;
}